<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <% if (htmlWebpackPlugin.options.trackJSToken) { %>
    <!-- BEGIN TACKJS -->
    <script>window._trackJs = { token: '<%=htmlWebpackPlugin.options.trackJSToken%>' }; </script>
    <script src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
    <!-- END TACKJS -->
    <% } %>
    <meta charset="utf-8" />
    <title>JS course</title>
</head>
<body>
    <h1>Users</h1>
    <table>
        <thead>
            <th>&nbsp;</th>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </thead>
        <tbody id=users>
            
        </tbody>
    </table>
    <!-- <script src="bundle.js"></script> will be injected automatically by webpack plugin-->
</body>
</html>